.idea/
.vs*/
bin/
obj/
TODO.txt
packages.lock.json
Test*/
*.DotSettings.user
Ignore/
.qodo
SlimeRancher.props
Libs/
Ignore.*
Dev*/
UnusedAssets/
SrExports/
/Bundle/Assets/CS
/Bundle/Assets/Mesh
/Bundle/Assets/Shader
SlimeRancher/