.idea/
.vs*/
bin/
obj/
TODO.txt
packages.lock.json
Test*/
*.DotSettings.user
*.DotSettings
Ignore/
*Libs
Ignore.*
Dev*/
UnusedAssets/
SrExports/
SlimeRancher/
ExternalAnnotations/
SlimeRancher.props
cspell.json
Logs/
Logs
Mods
Source/Generated/
OceanRange.Generator/
Test/